_build/xbox/gen/
_build/ps3/USRDIR/gen/
*_out
/ignore
.fuse_hidden*
_ark/*.png
_ark/*.jpg
_ark/*.dds
_ark/*.sh
_ark/*.py
*_dbg.milo*
*_rt.milo*
*.bak
_temp*
*.xcf
/dependencies/__pycache__
/.temp_ark*
/_ext
/_build/wii
/_build/ps2/IOP
/_build/ps2/GEN
/_songs/songs_ps2
/_songs/songs_wii